<section id="about">
    <div class="container">
        <!-- Header -->
        <div class="text-center">
            <h1 class="section-header primary-header">about</h1>
        </div>
        <!-- /Header -->
        <!-- About-Image -->
        <div class="about-img-contianer d-flex justify-content-center">
            <div class="about-img-bg">
                <img id="about-image" alt="Nader Khamis">
                <span class="about-effect"></span>
            </div>
            <div class="about-react d-flex justify-content-around align-items-center p-1">
                <div class="p-1">
                    <img alt="react-like" id="react-like" class="img-fluid">
                </div>
                <div class="p-1">
                    <img alt="react-love" id="react-love" class="img-fluid">
                </div>
                <div class="p-1">
                    <img alt="react-wow" id="react-wow" class="img-fluid">
                </div>
            </div>
        </div>
        <!-- /About-Image -->
        <!-- About-Slider -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper pt-3 pb-5">
                <!-- Introduction -->
                <div class="swiper-slide">
                    <p class="intro">
                        I'm a Creative, Professional Full Stack Developer and UI Designer with Long Time Experience in This Field.
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent border-0 d-flex justify-content-between align-items-center px-0">
                            DOB
                            <span class="badge badge-warning badge-pill">19<sup>th</sup> Sep 1994</span>
                        </li>
                        <li class="list-group-item bg-transparent border-0 d-flex justify-content-between align-items-center px-0">
                            Nationality
                            <span class="badge badge-warning badge-pill">Egyptian</span>
                        </li>
                        <li class="list-group-item bg-transparent border-0 d-flex justify-content-between align-items-center px-0">
                            Email
                            <span class="badge badge-warning badge-pill">contactme@naderkhamis.net</span>
                        </li>
                        <li class="list-group-item bg-transparent border-0 d-flex justify-content-between align-items-center px-0">
                            Experience
                            <span class="badge badge-warning badge-pill">2 years</span>
                        </li>
                    </ul>
                </div>
                <!-- /Introduction -->
                <!-- Education -->
                <div class="swiper-slide">
                    <h1 class="primary-header">Education</h1>
                    <!-- timeline item 1 -->
                    <div class="row px-1">
                        <div class="col-auto text-center flex-column d-flex px-3">
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="timeline badge badge-pill bg-warning border-warning">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right border-warning">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card bg-transparent border-warning text-warning">
                                <div class="card-body">
                                    <h5 class="card-title">Bachelor MOS.</h5>
                                    <div class="d-flex justify-content-between">
                                        <h6 class="card-subtitle mb-2 text-muted">Thebes Academy</h6>
                                        <h6 class="card-subtitle mb-2 text-muted float-right">
                                            3<sup>rd</sup>Jun 2016
                                        </h6>
                                    </div>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                    <a href="http://" class="outer-link pb-0" target="_blank">
                                            View certificate
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /timeline item 1 -->
                    <!-- timeline item 2 -->
                    <div class="row px-1">
                        <div class="col-auto text-center flex-column d-flex px-3">
                            <div class="row h-50">
                                <div class="col border-right border-warning">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="timeline badge badge-pill bg-warning border-warning">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card bg-transparent border-warning text-warning">
                                <div class="card-body">
                                    <h5 class="card-title">Bachelor MOS.</h5>
                                    <div class="d-flex justify-content-between">
                                        <h6 class="card-subtitle mb-2 text-muted">Thebes Academy</h6>
                                        <h6 class="card-subtitle mb-2 text-muted float-right">
                                            3<sup>rd</sup>Jun 2016
                                        </h6>
                                    </div>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                    <a href="http://" class="outer-link pb-0" target="_blank">
                                            View certificate
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- timeline item 2 -->
                </div>
                <!-- /Education -->
                <!-- Experience -->
                <div class="swiper-slide">
                    <h1 class="primary-header">Experience</h1>
                    <!-- timeline item 1 -->
                    <div class="row">
                        <div class="col-auto text-center flex-column d-flex px-3">
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="timeline badge badge-pill bg-warning border-warning">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right border-warning">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card bg-transparent border-warning text-warning">
                                <div class="card-body">
                                    <h5 class="card-title">Bachelor MOS.</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Thebes Academy</h6>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                    <div class="d-flex justify-content-between pt-3">
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            3<sup>rd</sup>Jun 2016
                                        </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            3<sup>rd</sup>Jun 2016
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /timeline item 1 -->
                    <!-- timeline item 2 -->
                    <div class="row">
                        <div class="col-auto text-center flex-column d-flex px-3">
                            <div class="row h-50">
                                <div class="col border-right border-warning">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="timeline badge badge-pill bg-warning border-warning">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col border-right border-warning">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card bg-transparent border-warning text-warning">
                                <div class="card-body">
                                    <h5 class="card-title">Bachelor MOS.</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Thebes Academy</h6>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                    <div class="d-flex justify-content-between pt-3">
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            3<sup>rd</sup>Jun 2016
                                        </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            3<sup>rd</sup>Jun 2016
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- timeline item 2 -->
                    <!-- timeline item 3 -->
                    <div class="row">
                        <div class="col-auto text-center flex-column d-flex px-3">
                            <div class="row h-50">
                                <div class="col border-right border-warning">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                            <h5 class="m-2">
                                <span class="timeline badge badge-pill bg-warning border-warning">&nbsp;</span>
                            </h5>
                            <div class="row h-50">
                                <div class="col">&nbsp;</div>
                                <div class="col">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col py-2">
                            <div class="card bg-transparent border-warning text-warning">
                                <div class="card-body">
                                    <h5 class="card-title">Bachelor MOS.</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Thebes Academy</h6>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                    <div class="d-flex justify-content-between pt-3">
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            3<sup>rd</sup>Jun 2016
                                        </h6>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            3<sup>rd</sup>Jun 2016
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- timeline item 3 -->
                </div>
                <!-- /Experience -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- /About-Slider -->
        <!-- Learn-More-Link -->
        <div>
            <a href="http://" class="outer-link" target="_blank">
                Learn more
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
        <!-- /Learn-More-Link -->
        <!-- Download-Resume -->
        <div>
            <button type="button" class="btn secondary-btn btn-block d-flex justify-content-center">Resume
                <i class="fas fa-cloud-download-alt"></i>
            </button>
        </div>
        <!-- /Download-Resume -->
    </div>
</section>