<!-- Client-Says -->
<section id="client-says">
    <div class="secondary-section">
        <div class="video-container">
            <!-- Background-Video -->
            <video autoplay loop muted preload="auto">
                <source id="client-says-mp4" src="" type="video/mp4" />
                <source id="client-says-ogg" src="" type="video/ogg" />
            </video>
            <!-- /Background-Video -->
            <!-- Blur-Effect -->
            <div class="blur-effect"></div>
            <!-- /Blur-Effect -->
            <!-- Client-Says-Slider -->
            <div class="swiper clientSaySlider">
                <div class="swiper-wrapper">
                    <!-- Client-Slide -->
                    <div class="swiper-slide">
                        <div class="client-say">
                            <!-- Client-Image -->
                            <div class="client-image">
                                <img class="client-img img-fluid" alt="client image">
                            </div>
                            <!-- /Client-Image -->
                            <!-- Client-Opinion -->
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat rerum veniam at repellendus commodi alias enim, eius, quidem exercitationem quod soluta totam. Pariatur, debitis fugiat assumenda dolorem necessitatibus libero.
                                </p>
                            </div>
                            <!-- /Client-Opinion -->
                            <!-- Client-Name -->
                            <div>
                                <h3>Nader Khamis</h3>
                            </div>
                            <!-- /Client-Name -->
                            <!-- Client-Company -->
                            <div>
                                <h5>Build Your Brand</h5>
                            </div>
                            <!-- /Client-Company -->
                        </div>
                    </div>
                    <!-- /Client-Slide -->
                    <!-- Client-Slide -->
                    <div class="swiper-slide">
                        <div class="client-say">
                            <!-- Client-Image -->
                            <div class="client-image">
                                <img class="client-img img-fluid" alt="client image">
                            </div>
                            <!-- /Client-Image -->
                            <!-- Client-Opinion -->
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat rerum veniam at repellendus commodi alias enim, eius, quidem exercitationem quod soluta totam. Pariatur, debitis fugiat assumenda dolorem necessitatibus libero.
                                </p>
                            </div>
                            <!-- /Client-Opinion -->
                            <!-- Client-Name -->
                            <div>
                                <h3>Nader Khamis</h3>
                            </div>
                            <!-- /Client-Name -->
                            <!-- Client-Company -->
                            <div>
                                <h5>Build Your Brand</h5>
                            </div>
                            <!-- /Client-Company -->
                        </div>
                    </div>
                    <!-- /Client-Slide -->
                    <!-- Client-Slide -->
                    <div class="swiper-slide">
                        <div class="client-say">
                            <!-- Client-Image -->
                            <div class="client-image">
                                <img class="client-img img-fluid" alt="client image">
                            </div>
                            <!-- /Client-Image -->
                            <!-- Client-Opinion -->
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat rerum veniam at repellendus commodi alias enim, eius, quidem exercitationem quod soluta totam. Pariatur, debitis fugiat assumenda dolorem necessitatibus libero.
                                </p>
                            </div>
                            <!-- /Client-Opinion -->
                            <!-- Client-Name -->
                            <div>
                                <h3>Nader Khamis</h3>
                            </div>
                            <!-- /Client-Name -->
                            <!-- Client-Company -->
                            <div>
                                <h5>Build Your Brand</h5>
                            </div>
                            <!-- /Client-Company -->
                        </div>
                    </div>
                    <!-- /Client-Slide -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- /Client-Says-Slider -->
        </div>
    </div>
</section>
<!-- /Client-Says -->