<!-- Contact -->
<section id="contact">
  <div class="secondary-section container">
    <!-- Header -->
    <div class="text-center">
      <h1 class="section-header primary-header">contact</h1>
    </div>
    <!-- /Header -->
    <!-- Contact-Form-Info -->
    <div class="row">
      <!-- Contact-Form -->
      <div class="contact-form col-md-7 order-md-1">
        <form class="form-row" action="" method="">
          <!-- Name -->
          <div class="form-group col-12 col-lg-6">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="name"
              name="name"
              placeholder="Type your name"
            />
          </div>
          <!-- /Name -->
          <!-- Email -->
          <div class="form-group col-12 col-lg-6">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control form-control-lg"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Type your email address"
            />
          </div>
          <!-- /Email -->
          <!-- Subject -->
          <div class="form-group col-12">
            <label for="subject">Subject</label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="subject"
              name="subject"
              placeholder="Type your message's subject"
            />
          </div>
          <!-- /Subject -->
          <!-- Message -->
          <div class="form-group col-12">
            <label for="message">Message</label>
            <textarea
              class="form-control form-control-lg"
              id="message"
              name="message"
              rows="10"
              placeholder="Type your message"
            ></textarea>
          </div>
          <!-- /Message -->
          <!-- Submit -->
          <div class="col-12 col-lg-6">
            <button type="submit" class="btn primary-btn btn-block btn-lg">
              Send
            </button>
          </div>
          <!-- /Submit -->
        </form>
      </div>
      <!-- /Contact-Form -->
      <!-- Contact-Info -->
      <div class="contact-info col-md-5 order-md-0 d-flex flex-column">
        <!-- Address -->
        <div class="info">
          <div>
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <h2>find me</h2>
          <p>Pyramid St. Giza, Egypt</p>
        </div>
        <!-- /Address -->
        <!-- Email -->
        <div class="info">
          <div>
            <i class="fas fa-envelope"></i>
          </div>
          <h2>email me</h2>
          <div>
            <a href="mailto:contact@naderkhamis.com">contact@naderkhamis.com</a>
          </div>
        </div>
        <!-- /Email -->
        <!-- Phone -->
        <div class="info">
          <div>
            <i class="fas fa-phone-alt"></i>
          </div>
          <h2>call me</h2>
          <div>
            <label for="">Phone : </label>
            <a href="tel:002-356-493-34">002-356-493-34</a>
          </div>
          <div>
            <label for="">Mobile : </label>
            <a href="tel:002-114-449-9719">002-114-449-9719</a>
          </div>
        </div>
        <!-- /Phone -->
      </div>
      <!-- /Contact-Info -->
    </div>
    <!-- /Contact-Form-Info -->
  </div>
</section>
<!-- /Contact -->
