<!-- Hire-Me -->
<section id="hire">
    <div id="hire-me" class="primary-section container">
        <!-- Freelancing -->
        <p>I'm available
            <br>
            <strong>for Freelancing</strong>
        </p>
        <!-- /Freelancing -->
        <!-- Hire-Me-Btn -->
        <div>
            <a href="https://www.freelancer.com/u/naderkhamis" target="_blank">
                <button type="button" class="btn third-btn btn-block btn-lg d-flex justify-content-center">
                    Hire Me
                </button>
            </a>
        </div>
        <!-- /Hire-Me-Btn -->
    </div>
</section>
<!-- /Hire-Me -->