<!-- Hire-Me -->
<section id="hire">
  <div id="hire-me" class="jumbotron primary-section container">
    <p class="lead">I'm available</p>
    <strong>For Freelancing</strong>
    <hr class="my-4" />
    <div class="col-md-4 offset-md-8 p-0">
      <a href="https://www.freelancer.com/u/naderkhamis" target="_blank">
        <button type="button" class="btn third-btn btn-block btn-lg">
          Hire Me
        </button>
      </a>
    </div>
  </div>
</section>
<!-- /Hire-Me -->
