<!-- Landing -->
<section id="landing" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <!-- Landing-Content -->
      <div class="landing-content d-flex flex-column col-md-6">
        <!-- Introduction -->
        <div class="intro">
          <!-- Greeting -->
          <div class="greeting">
            <p>Hello_World!</p>
          </div>
          <!-- /Greeting -->
          <!-- Name -->
          <div class="name">
            <h1>I'm<br />Nader<br />Khamis</h1>
          </div>
          <!-- /Name -->
        </div>
        <!-- /Introduction -->
        <!-- Titles -->
        <div class="title">
          <p>Full-Stack Developer</p>
          <p>UI Designer</p>
        </div>
        <!-- /Titles -->
        <!-- Social-Media-Icons -->
        <div class="social col-lg-8 d-flex justify-content-between">
          <a>
            <button class="custom-icon">
              <i class="fab fa-facebook-f d-block d-md-none"></i>
              <i class="fab fa-facebook d-none d-md-block"></i>
            </button>
          </a>
          <a>
            <button class="custom-icon">
              <i class="fab fa-linkedin-in d-block d-md-none"></i>
              <i class="fab fa-linkedin d-none d-md-block"></i>
            </button>
          </a>
          <a>
            <button class="custom-icon">
              <i class="fab fa-twitter"></i>
            </button>
          </a>
          <a>
            <button class="custom-icon">
              <i class="fab fa-github"></i>
            </button>
          </a>
        </div>
        <!-- /Social-Media-Icons -->
        <!-- Hire/Contact Me-Btn -->
        <div class="hire-cont d-lg-flex">
          <div class="col-lg-6 p-0 pr-lg-2">
            <button type="button" class="btn btn-block btn-lg primary-btn">
              hire me
            </button>
          </div>
          <div class="col-lg-6 p-0 pl-lg-2">
            <button type="button" class="btn btn-block btn-lg secondary-btn">
              contact me
            </button>
          </div>
        </div>
        <!-- /Hire/Contact Me-Btn -->
      </div>
      <!-- /Landing-Content -->
      <!-- Landing-Media -->
      <div class="landing-media col-md-6">
        <!-- Image -->
        <div class="landing-image">
          <!-- <img
            id="nader-image"
            class="img-fluid d-inline-block d-lg-none"
            alt="Nader Khamis"
          /> -->
          <img id="nader-image-lg" class="img-fluid" alt="Nader Khamis" />
        </div>
        <!-- /Image -->
      </div>
      <!-- /Landing-Media -->
    </div>
  </div>
</section>
<!-- /Landing -->
