<!-- Landing -->
<section id="landing">
    <div class="container">
        <div class="row">
            <!-- Landing-Content -->
            <div class="landing-content col-12">
                <!-- Introduction -->
                <div class="intro">
                    <!-- Greeting -->
                    <p class="greeting">Hello_World!</p>
                    <!-- /Greeting -->
                    <!-- Name -->
                    <h1 class="name">I'm Nader Khamis</h1>
                    <!-- /Name -->
                    <!-- Titles -->
                    <p class="title">Full-Stack Developer</p>
                    <p class="title">UI Designer</p>
                    <!-- /Titles -->
                </div>
                <!-- /Introduction -->
                <!-- Social-Media-Icons -->
                <div class="social d-flex flex-column py-3">
                    <i class="fab fa-facebook primary-icon"></i>
                    <i class="fab fa-linkedin primary-icon"></i>
                    <i class="fab fa-twitter primary-icon"></i>
                    <i class="fab fa-github primary-icon"></i>
                </div>
                <!-- /Social-Media-Icons -->
                <!-- Hire/Contact Me-Btn -->
                <div class="hire-cont">
                    <button type="button" class="btn primary-btn btn-block mb-3">hire me</button>
                    <button type="button" class="btn secondary-btn btn-block">contact me</button>
                </div>
                <!-- /Hire/Contact Me-Btn -->
                <!-- Arrow-Down -->
                <div class="d-flex justify-content-center pt-4">
                    <a href="#about">
                        <i class="fas fa-angle-double-down fa-bounce primary-icon"></i>
                    </a>
                </div>
                <!-- /Arrow-Down -->
            </div>
            <!-- /Landing-Content -->
            <!-- Landing-Media -->
            <div class="landing-media col-12">
                <!-- Image -->
                <div class="landing-image">
                    <img id="nader-image" class="img-fluid" alt="Nader Khamis">
                </div>
                <!-- /Image -->
            </div>
            <!-- /Landing-Media -->
        </div>
    </div>
    <!-- Landing-Border -->
    <div class="landing-border">
        <img id="landing-border" class="img-fluid" alt="landing-border">
    </div>
    <!-- /Landing-Border -->
</section>
<!-- /Landing -->