<!-- Portfolio -->
<section id="portfolio">
    <div class="primary-section container">
        <!-- Header -->
        <div class="text-center">
            <h1 class="section-header secondary-header">portfolio</h1>
        </div>
        <!-- /Header -->
        <!-- Projects-Links -->
        <div class="secondary-section row px-3">
            <p>
                <strong>Latest</strong> Creative Works,<br> and <strong>Selected Projects</strong>
            </p>
            <div class="row d-flex flex-column">
                <div class="project-item">
                    <button type="button" data-filter=".web-development" class="project-link mixitup-control-active">
                        web development
                    </button>
                </div>
                <div class="project-item">
                    <button type="button" data-filter=".ui-design" class="project-link">ui designing</button>
                </div>
                <div class="project-item">
                    <button type="button" data-filter=".logo-design" class="project-link">logo designing</button>
                </div>
            </div>
        </div>
        <!-- /Projects-Links -->
        <!-- Projects-Shuffles -->
        <div class="row box-list">
            <!-- Web-Development-Slider -->
            <div class="mix swiper project-slider web-development">
                <div class="swiper-wrapper">
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="web-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati reiciendis quo corrupti asperiores odit voluptates.</p>
                                <div class="d-flex justify-content-between align-items-center p-1">
                                    <a href="http://" class="outer-link" target="_blank">
                                                Learn more
                                                <i class="fas fa-angle-right"></i>
                                        </a>
                                    <span>
                                            <i class="fas fa-link"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="web-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati reiciendis quo corrupti asperiores odit voluptates.</p>
                                <div class="d-flex justify-content-between align-items-center p-1">
                                    <a href="http://" class="outer-link" target="_blank">
                                                Learn more
                                                <i class="fas fa-angle-right"></i>
                                        </a>
                                    <span>
                                            <i class="fas fa-link"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="web-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati reiciendis quo corrupti asperiores odit voluptates.</p>
                                <div class="d-flex justify-content-between align-items-center p-1">
                                    <a href="http://" class="outer-link" target="_blank">
                                                Learn more
                                                <i class="fas fa-angle-right"></i>
                                        </a>
                                    <span>
                                            <i class="fas fa-link"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                </div>
                <div class="swiper-pagination swiper-pagination-dark"></div>
            </div>
            <!-- Web-Development-Slider -->
            <!-- Ui-Designing -->
            <div class="mix swiper project-slider ui-design">
                <div class="swiper-wrapper">
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="ui-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                                <div class="d-flex justify-content-between align-items-center p-1">
                                    <a href="http://" class="outer-link" target="_blank">
                                                Learn more
                                                <i class="fas fa-angle-right"></i>
                                    </a>
                                    <span>
                                            <i class="fas fa-link"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="ui-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                                <div class="d-flex justify-content-between align-items-center p-1">
                                    <a href="http://" class="outer-link" target="_blank">
                                                Learn more
                                                <i class="fas fa-angle-right"></i>
                                        </a>
                                    <span>
                                            <i class="fas fa-link"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="ui-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                                <div class="d-flex justify-content-between align-items-center p-1">
                                    <a href="http://" class="outer-link" target="_blank">
                                                Learn more
                                                <i class="fas fa-angle-right"></i>
                                        </a>
                                    <span>
                                            <i class="fas fa-link"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                </div>
                <div class="swiper-pagination swiper-pagination-dark"></div>
            </div>
            <!-- /Ui-Designing -->
            <!-- Logo-Designing -->
            <div class="mix swiper project-slider logo-design">
                <div class="swiper-wrapper">
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="logo-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="logo-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                    <!-- Project -->
                    <div class="swiper-slide">
                        <!-- Project-Image -->
                        <div>
                            <img class="logo-project-img img-fluid" alt="Traveler">
                        </div>
                        <!-- /Project-Image -->
                        <!-- Project-Info -->
                        <div class="project-info">
                            <div class="info-container">
                                <h3>Traveler</h3>
                            </div>
                        </div>
                        <!-- /Project-Info -->
                    </div>
                    <!-- /Project -->
                </div>
                <div class="swiper-pagination swiper-pagination-dark"></div>
            </div>
            <!-- /Logo-Designing -->
        </div>
        <!-- /Projects-Shuffles -->
    </div>
</section>
<!-- /Portfolio -->