<!-- Processes -->
<section id="processes">
  <div class="secondary-section container">
    <!-- Header -->
    <div class="text-center">
      <h1 class="section-header primary-header">process</h1>
    </div>
    <!-- /Header -->
    <div class="row media">
      <!-- Processes-Image -->
      <div class="process-img-container col-lg-6 align-self-center">
        <div class="process-img-bg">
          <img
            id="process-image"
            class="img-fluid"
            alt="Web Development Processes"
          />
        </div>
      </div>
      <!-- /Processes-Image -->
      <!-- Processes-Container -->
      <div class="processes-container col-lg-6 media-body">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-1 mx-md-0">
          <!-- Process-1 -->
          <div class="card">
            <div
              class="process-card col d-flex flex-column align-items-center justify-content-between text-center"
            >
              <i class="fas fa-people-carry"></i>
              <p>discuss</p>
              <span class="custom-icon">1</span>
            </div>
          </div>
          <!-- /Process-1 -->
          <!-- Process-2 -->
          <div class="card">
            <div
              class="process-card col d-flex flex-column align-items-center justify-content-between text-center"
            >
              <i class="fas fa-table"></i>
              <p>wireframing</p>
              <span class="custom-icon">2</span>
            </div>
          </div>
          <!-- /Process-2 -->
          <!-- Process-3 -->
          <div class="card">
            <div
              class="process-card col d-flex flex-column align-items-center justify-content-between text-center"
            >
              <i class="fas fa-code"></i>
              <p>coding</p>
              <span class="custom-icon">3</span>
            </div>
          </div>
          <!-- /Process-3 -->
          <!-- Process-4 -->
          <div class="card">
            <div
              class="process-card col d-flex flex-column align-items-center justify-content-between text-center"
            >
              <i class="fas fa-database"></i>
              <p>database</p>
              <span class="custom-icon">4</span>
            </div>
          </div>
          <!-- /Process-4 -->
          <!-- Process-5 -->
          <div class="card">
            <div
              class="process-card col d-flex flex-column align-items-center justify-content-between text-center"
            >
              <i class="fas fa-sliders-h"></i>
              <p>dashboard</p>
              <span class="custom-icon">5</span>
            </div>
          </div>
          <!-- /Process-5 -->
          <!-- Process-6 -->
          <div class="card">
            <div
              class="process-card col d-flex flex-column align-items-center justify-content-between text-center"
            >
              <i class="fas fa-cogs"></i>
              <p>maintenance</p>
              <span class="custom-icon">6</span>
            </div>
          </div>
          <!-- /Process-6 -->
        </div>
      </div>
      <!-- /Processes-Container -->
    </div>
  </div>
</section>
<!-- /Processes -->
