<!-- Processes -->
<section id="processes">
    <div class="secondary-section container">
        <!-- Header -->
        <div class="text-center">
            <h1 class="section-header primary-header">processes</h1>
        </div>
        <!-- /Header -->
        <div class="row">
            <!-- Processes-Image -->
            <div class="process-img-container col-12">
                <div class="process-img-bg">
                    <img id="process-image" class="img-fluid" alt="Web Development Processes">
                </div>
            </div>
            <!-- /Processes-Image -->
            <!-- Processes-Container -->
            <div class="processes-container col-12">
                <div class="row px-5">
                    <!-- Process-1 -->
                    <div class="process-card col-12 d-flex flex-column align-items-center justify-content-around text-center">
                        <i class="fas fa-people-carry"></i>
                        <p>project discuss</p>
                        <span>1</span>
                    </div>
                    <!-- /Process-1 -->
                    <!-- Process-2 -->
                    <div class="process-card col-12 d-flex flex-column align-items-center  justify-content-around text-center">
                        <i class="fas fa-table"></i>
                        <p>wireframing</p>
                        <span>2</span>
                    </div>
                    <!-- /Process-2 -->
                </div>
            </div>
            <!-- /Processes-Container -->
        </div>
    </div>
</section>
<!-- /Processes -->