<!-- Services -->
<section id="services">
    <div class="secondary-section container">
        <!-- Header -->
        <div class="text-center">
            <h1 class="section-header primary-header">services</h1>
        </div>
        <!-- /Header -->
        <!-- Services-Container -->
        <div class="services-container">
            <div class="row p-3">
                <!-- Service -->
                <div class="service col-12 p-0">
                    <!-- Service-content -->
                    <div class="service-content row">
                        <!-- Service-Image -->
                        <div class="service-img col-12 p-0">
                        </div>
                        <!-- /Service-Image -->
                        <div class="blur-effect"></div>
                        <!-- Service-Icon -->
                        <div class="col-12">
                            <i class="fas fa-pencil-ruler"></i>
                        </div>
                        <!-- /Service-Icon -->
                        <!-- Service-Name -->
                        <div class="col-12">
                            <h2>UI Design</h2>
                        </div>
                        <!-- /Service-Name -->
                        <!-- Service-Description -->
                        <div class="col-12">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias non laborum impedit atque qui. Harum modi voluptatibus delectus quo nam, omnis labore quisquam veritatis neque suscipit maiores sapiente qui veniam?</p>
                        </div>
                        <!-- /Service-Description -->
                    </div>
                    <!-- /Service-content -->
                </div>
                <!-- /Service -->
                <!-- Service -->
                <div class="service col-12 p-0">
                    <!-- Service-content -->
                    <div class="service-content row">
                        <!-- Service-Image -->
                        <div class="service-img col-12 p-0">
                        </div>
                        <!-- /Service-Image -->
                        <div class="blur-effect"></div>
                        <!-- Service-Icon -->
                        <div class="col-12">
                            <i class="fas fa-laptop-code"></i>
                        </div>
                        <!-- /Service-Icon -->
                        <!-- Service-Name -->
                        <div class="col-12">
                            <h2>Web Design</h2>
                        </div>
                        <!-- /Service-Name -->
                        <!-- Service-Description -->
                        <div class="col-12">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias non laborum impedit atque qui. Harum modi voluptatibus delectus quo nam, omnis labore quisquam veritatis neque suscipit maiores sapiente qui veniam?</p>
                        </div>
                        <!-- /Service-Description -->
                    </div>
                    <!-- /Service-content -->
                </div>
                <!-- /Service -->
            </div>
        </div>
        <!-- /Services-Container -->
    </div>
</section>
<!-- /Services -->