<!-- Skills -->
<section id="skills">
  <div class="primary-section container">
    <!-- Header -->
    <div class="text-center">
      <h1 class="section-header secondary-header">skills</h1>
    </div>
    <!-- /Header -->
    <div class="row media">
      <!-- Skills-Image -->
      <div class="skills-img-container col-md-6 order-md-1 align-self-center">
        <div class="skills-img-bg">
          <img id="skills-image" class="img-fluid" alt="Web Developer Skills" />
        </div>
      </div>
      <!-- /Skills-Image -->
      <!-- Technical-Skills -->
      <div class="col-md-6 order-md-0 media-body">
        <!-- Skills-Slider -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper pt-3 pb-5">
            <!-- Front-End-Skills -->
            <div class="swiper-slide">
              <!-- Skills -->
              <div>
                <h3 class="progress-title">HTML5</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                    <div class="progress-value"><span>50</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">CSS3</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 75%"></div>
                    <div class="progress-value"><span>75</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">HTML5</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                    <div class="progress-value"><span>50</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">CSS3</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 75%"></div>
                    <div class="progress-value"><span>75</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">HTML5</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                    <div class="progress-value"><span>50</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">CSS3</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 75%"></div>
                    <div class="progress-value"><span>75</span>%</div>
                  </div>
                </div>
              </div>
              <!-- /Skills -->
            </div>
            <!-- /Front-End-Skills -->
            <!-- Back-End-Skills -->
            <div class="swiper-slide">
              <!-- Skills -->
              <div>
                <h3 class="progress-title">HTML5</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                    <div class="progress-value"><span>50</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">CSS3</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 75%"></div>
                    <div class="progress-value"><span>75</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">HTML5</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                    <div class="progress-value"><span>50</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">CSS3</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 75%"></div>
                    <div class="progress-value"><span>75</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">HTML5</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 50%"></div>
                    <div class="progress-value"><span>50</span>%</div>
                  </div>
                </div>
                <h3 class="progress-title">CSS3</h3>
                <div class="progress-outer">
                  <div class="progress">
                    <div class="progress-bar" style="width: 75%"></div>
                    <div class="progress-value"><span>75</span>%</div>
                  </div>
                </div>
              </div>
              <!-- /Skills -->
            </div>
            <!-- /Back-End-Skills -->
          </div>
          <div class="swiper-pagination swiper-pagination-dark py-2"></div>
        </div>
        <!-- /Skills-Slider -->
        <!-- UI-Skills-Btn -->
        <div class="col-lg-6 p-0">
          <a href="#ui-skills">
            <button
              type="button"
              class="btn third-btn btn-block btn-lg d-flex justify-content-center"
            >
              UI Skills
              <i class="fas fa-angle-down"></i>
            </button>
          </a>
        </div>
        <!-- /UI-Skills-Btn -->
      </div>
      <!-- /Technical-Skills -->
    </div>
  </div>
  <!-- UI-Skills -->
  <div id="ui-skills" class="secondary-section container">
    <!-- Header -->
    <div class="text-center">
      <h1 class="section-header primary-header">UI Design</h1>
    </div>
    <!-- /Header -->
    <!-- Skills-Progress -->
    <div class="progress-container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <!-- Progress-Circle -->
        <div class="progress-circle col">
          <div class="progress">
            <img id="adobe-xd" class="" alt="Adobe XD" />
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
          </div>
          <div class="progress-value text-center pt-3"><span>70</span>%</div>
        </div>
        <!-- /Progress-Circle -->
        <!-- Progress-Circle -->
        <div class="progress-circle col">
          <div class="progress">
            <img id="adobe-ill" class="img-fluid" alt="Adobe Illustrator" />
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
          </div>
          <div class="progress-value text-center pt-3"><span>70</span>%</div>
        </div>
        <!-- /Progress-Circle -->
        <!-- Progress-Circle -->
        <div class="progress-circle col">
          <div class="progress">
            <img id="adobe-photoshop" class="img-fluid" alt="Adobe Photoshop" />
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
          </div>
          <div class="progress-value text-center pt-3"><span>70</span>%</div>
        </div>
        <!-- /Progress-Circle -->
        <!-- Progress-Circle -->
        <div class="progress-circle col">
          <div class="progress">
            <img id="adobe-in" class="img-fluid" alt="Adobe Indesign" />
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
          </div>
          <div class="progress-value text-center pt-3"><span>70</span>%</div>
        </div>
        <!-- /Progress-Circle -->
      </div>
    </div>
    <!-- /Skills-Progress -->
    <!-- Technical-Skills-Btn -->
    <div class="col-md-5 col-lg-4">
      <a href="#skills">
        <button
          type="button"
          class="btn primary-btn btn-block btn-lg d-flex justify-content-center"
        >
          Technical Skills
          <i class="fas fa-angle-up"></i>
        </button>
      </a>
    </div>
    <!-- /Technical-Skills-Btn -->
  </div>
  <!-- /UI-Skills -->
</section>
<!-- /Skills -->
