<section id="skills">
    <!-- Technical-Skills -->
    <div id="tech-skills" class="primary-section container">
        <!-- Header -->
        <div class="text-center">
            <h1 class="section-header secondary-header">skills</h1>
        </div>
        <!-- /Header -->
        <!-- Skills-Image -->
        <div class="skills-img-container">
            <div class="skills-img-bg">
                <img id="skills-image" class="img-fluid" alt="Web Developer Skills">
            </div>
        </div>
        <!-- /Skills-Image -->
        <!-- Skills-Slider -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper pt-3 pb-5">
                <!-- Front-End-Skills -->
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="progress-title">HTML5</h3>
                            <div class="progress-outer">
                                <div class="progress">
                                    <div class="progress-bar" style="width:50%;"></div>
                                    <div class="progress-value"><span>50</span>%</div>
                                </div>
                            </div>
                            <h3 class="progress-title">CSS3</h3>
                            <div class="progress-outer">
                                <div class="progress">
                                    <div class="progress-bar" style="width:75%;"></div>
                                    <div class="progress-value"><span>75</span>%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Front-End-Skills -->
                <!-- Back-End-Skills -->
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="progress-title">HTML5</h3>
                            <div class="progress-outer">
                                <div class="progress">
                                    <div class="progress-bar" style="width:50%;"></div>
                                    <div class="progress-value"><span>50</span>%</div>
                                </div>
                            </div>
                            <h3 class="progress-title">CSS3</h3>
                            <div class="progress-outer">
                                <div class="progress">
                                    <div class="progress-bar" style="width:75%;"></div>
                                    <div class="progress-value"><span>75</span>%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Back-End-Skills -->
            </div>
            <div class="swiper-pagination swiper-pagination-dark py-2"></div>
        </div>
        <!-- /Skills-Slider -->
        <!-- UI-Skills-Btn -->
        <div>
            <a href="#ui-skills">
                <button type="button" class="btn third-btn btn-block d-flex justify-content-center">
                    UI Skills
                    <i class="fas fa-angle-down"></i>
                </button>
            </a>
        </div>
        <!-- /UI-Skills-Btn -->
    </div>
    <!-- /Technical-Skills -->
    <!-- UI-Skills -->
    <div id="ui-skills" class="secondary-section container">
        <!-- Header -->
        <div class="text-center">
            <h1 class="section-header primary-header">UI Design</h1>
        </div>
        <!-- /Header -->
        <div class="progress-container">
            <div class="row">
                <!-- Progress-Circle -->
                <div class="progress-circle col-12">
                    <div class="progress">
                        <img id="adobe-xd" class="img-fluid" alt="Adobe XD">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                    </div>
                    <div class="progress-value text-center pt-3"><span>70</span>%</div>
                </div>
                <!-- /Progress-Circle -->
                <!-- Progress-Circle -->
                <div class="progress-circle col-12">
                    <div class="progress">
                        <img id="adobe-ill" class="img-fluid" alt="Adobe Illustrator">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                    </div>
                    <div class="progress-value text-center pt-3"><span>70</span>%</div>
                </div>
                <!-- /Progress-Circle -->
            </div>
        </div>
        <!-- Technical-Skills-Btn -->
        <div id="btn-pos">
            <a href="#tech-skills">
                <button type="button" class="btn primary-btn btn-block d-flex justify-content-center">
                Technical Skills
                <i class="fas fa-angle-up"></i>
            </button>
            </a>
        </div>
        <!-- /Technical-Skills-Btn -->
    </div>
    <!-- /UI-Skills -->
</section>