<!-- Statistics -->
<section id="statistics">
  <div class="primary-section container">
    <!-- Header -->
    <div class="text-center">
      <h1 class="section-header secondary-header">statistics</h1>
    </div>
    <!-- /Header -->
    <div class="row media">
      <!-- Statistics-Image -->
      <div
        class="statistic-img-container col-md-6 order-md-1 align-self-center"
      >
        <div class="statistic-img-bg">
          <img
            id="statistic-image"
            class="img-fluid"
            alt="Web Development Statistics"
          />
        </div>
      </div>
      <!-- /Statistics-Image -->
      <!-- Statistics-Container -->
      <div class="statistics-container col-md-6 order-md-0 media-body">
        <div class="row row-cols-1 row-cols-md-2">
          <!-- Statistic-1 -->
          <div
            class="statistic-card d-flex flex-column align-items-center justify-content-around text-center"
          >
            <i class="fas fa-check-double"></i>
            <span>1</span>
            <p>completed<br />projects</p>
          </div>
          <!-- /Statistic-1 -->
          <!-- Statistic-2 -->
          <div
            class="statistic-card d-flex flex-column align-items-center justify-content-around text-center"
          >
            <i class="fas fa-smile-beam"></i>
            <span>2</span>
            <p>satisfied<br />clients</p>
          </div>
          <!-- /Statistic-2 -->
          <!-- Statistic-3 -->
          <div
            class="statistic-card d-flex flex-column align-items-center justify-content-around text-center"
          >
            <i class="fas fa-award"></i>
            <span>5</span>
            <p>experience<br />years</p>
          </div>
          <!-- /Statistic-3 -->
          <!-- Statistic-4 -->
          <div
            class="statistic-card d-flex flex-column align-items-center justify-content-around text-center"
          >
            <i class="fas fa-lightbulb"></i>
            <span>7</span>
            <p>crazy<br />ideas</p>
          </div>
          <!-- /Statistic-4 -->
        </div>
      </div>
      <!-- /Statistics-Container -->
    </div>
  </div>
</section>
<!-- /Statistics -->
