<!-- Statistics -->
<section id="statistics">
    <div class="primary-section container">
        <!-- Header -->
        <div class="text-center">
            <h1 class="section-header secondary-header">statistics</h1>
        </div>
        <!-- /Header -->
        <div class="row">
            <!-- Statistics-Image -->
            <div class="statistic-img-container col-12">
                <div class="statistic-img-bg">
                    <img id="statistic-image" class="img-fluid" alt="Web Development Statistics">
                </div>
            </div>
            <!-- /Statistics-Image -->
            <!-- Statistics-Container -->
            <div class="statistics-container col-12">
                <div class="row px-5">
                    <!-- Statistic-1 -->
                    <div class="statistic-card col-12 d-flex flex-column align-items-center justify-content-around text-center">
                        <i class="fas fa-tasks"></i>
                        <span>1</span>
                        <p>completed projects</p>
                    </div>
                    <!-- /Statistic-1 -->
                    <!-- Statistic-2 -->
                    <div class="statistic-card col-12 d-flex flex-column align-items-center justify-content-around text-center">
                        <i class="fas fa-users"></i>
                        <span>2</span>
                        <p>satisfy clients</p>
                    </div>
                    <!-- /Statistic-2 -->
                </div>
            </div>
            <!-- /Statistics-Container -->
        </div>
    </div>
</section>
<!-- /Statistics -->