@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
.btn {
  min-width: 100px;
  font-weight: 600;
}

@media screen and (min-width: 601px) {
  .btn {
    max-width: 160px;
  }
}
.card,
.modal-content {
  border: 3px solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card-header:first-child,
.modal-header {
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

.card-body .card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card-footer,
.modal-footer {
  border-top: 3px solid;
}
