// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// Variables
@import 'variables';
// OverlayScroll
@import 'overlayScroll';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';
// AdminLTE
@import '~admin-lte/dist/css/adminlte.css';
// Font-awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
.bg-secondary {
    background-color: #454D55 !important;
}

a.rounded-circle,
button.rounded-circle {
    width: 40px;
    height: 40px;
    line-height: 25px;
}

.certificate-img {
    max-height: 100px;
}

.card-body .card-text {
    overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.form-control:disabled,
.form-control[readonly] {
    border: 2px solid white;
    background-color: white;
}

.file-caption-name:focus {
    border: 1px solid #FFC107;
}

.fileinput-remove-button {
    border: 0px;
    background-color: white;
}

.fileinput-remove-button:hover {
    color: #dc3545;
}