<!-- Footer -->
<footer>
  <!-- Footer-Content -->
  <div class="primary-section">
    <!-- Footer-Content -->
    <div class="footer-content container p-0">
      <!-- Footer-Image -->
      <div class="footer-image text-center pb-4">
        <img
          id="footer-logo"
          class="img-fluid"
          alt="NK-Logo"
          src="http://localhost:8080/ded70bc48726ee22ca92.png"
        />
      </div>
      <!-- /Footer-Image -->
      <div class="d-flex flex-column flex-lg-row">
        <!-- Footer-Links -->
        <div class="col-12 col-lg-5 text-center text-lg-left p-0">
          <div class="pb-3">
            <p>follow me</p>
          </div>
          <!-- Social-Media-Icons -->
          <div class="social pb-3">
            <a href=""
              ><i class="fab fa-facebook secondary-icon" aria-hidden="true"></i
            ></a>
            <a href=""
              ><i class="fab fa-linkedin secondary-icon" aria-hidden="true"></i
            ></a>
            <a href=""
              ><i class="fab fa-twitter secondary-icon" aria-hidden="true"></i
            ></a>
            <a href=""
              ><i class="fab fa-github secondary-icon" aria-hidden="true"></i
            ></a>
          </div>
          <!-- /Social-Media-Icons -->
        </div>
        <!-- /Footer-Links -->
        <!-- Designing-Information -->
        <div class="col-12 col-lg-7 p-0">
          <div class="d-flex flex-column align-items-center align-items-lg-end">
            <div
              class="d-flex flex-column flex-md-row text-center text-lg-left pb-4"
            >
              <p>designed by</p>
              <p class="d-none d-md-block">&nbsp; | &nbsp;</p>
              <p>nader khamis</p>
            </div>
            <!-- Copyrights -->
            <div>
              <small
                ><i class="fas fa-copyright" aria-hidden="true"></i>all rights
                reserved 2022</small
              >
            </div>
            <!-- /Copyrights -->
          </div>
        </div>
        <!-- /Designing-Information -->
      </div>
    </div>
    <!-- /Footer-Content -->
  </div>
  <!-- /Footer-Content -->
</footer>
<!-- /Footer -->
