<!-- Footer -->
<footer>
    <!-- Footer-Border -->
    <div class="landing-border">
        <img id="footer-border" class="img-fluid" alt="footer-border">
    </div>
    <!-- /Footer-Border -->
    <!-- Footer-Content -->
    <div class="primary-section container">
        <!-- Footer-Image -->
        <div class="footer-image text-center">
            <img id="footer-logo" class="img-fluid" alt="NK-Logo">
        </div>
        <!-- /Footer-Image -->
        <!-- Footer-Content -->
        <div class="footer-content row">
            <!-- Footer-Links -->
            <div class="col-12">
                <div class="d-flex justify-content-center py-3">
                    <p>follow me</p>
                </div>
                <!-- Social-Media-Icons -->
                <div class="social d-flex justify-content-around">
                    <i class="fab fa-facebook secondary-icon"></i>
                    <i class="fab fa-linkedin secondary-icon"></i>
                    <i class="fab fa-twitter secondary-icon"></i>
                    <i class="fab fa-github secondary-icon"></i>
                </div>
                <!-- /Social-Media-Icons -->
            </div>
            <!-- /Footer-Links -->
            <!-- Designing-Information -->
            <div class="col-12 pb-3">
                <div class="d-flex flex-column align-items-center">
                    <p>designed by</p>
                    <p>nader khamis</p>
                </div>
            </div>
            <!-- /Designing-Information -->
            <!-- Copyrights -->
            <div class="col-12">
                <div class="d-flex justify-content-around">
                    <small>&copy;all rights reserved 2022</small>
                </div>
            </div>
            <!-- /Copyrights -->
        </div>
        <!-- /Footer-Content -->
    </div>
    <!-- /Footer-Content -->
</footer>
<!-- /Footer -->