<header class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img id="header-logo" class="d-inline-block align-top" alt="NK-logo">
            <strong><span>N</span>ader <span>K</span>hamis</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Skills</a>
                <a class="nav-link" href="#">Portfolio</a>
                <a class="nav-link" href="#">Services</a>
                <a class="nav-link" href="#">Statistics</a>
            </div>
        </div>
    </nav>
    <!-- /Navbar -->
</header>