@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    box-sizing: border-box;
    font-family: $font-family;
    color: $third-color;
    background-color: $secondary-color;
    // Navbar
    .navbar {
        .navbar-collapse {
            .navbar-nav {
                .nav-link {
                    color: $third-color;
                    &:hover {
                        color: $primary-color;
                    }
                    &:active {
                        color: $primary-color;
                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 60%;
                            height: 3px;
                            background-color: $primary-color;
                            margin-top: 0.5em;
                        }
                    }
                }
            }
        }
    }
    // /Navbar
    // Section
    .primary-section {
        background-color: $primary-color;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    // /Section-Background
    // Headings
    h1:not(first-of-type) {
        opacity: 0.25;
    }
    .primary-header {
        color: $primary-color;
    }
    .secondary-header {
        color: $secondary-color;
    }
    // /Headings
    // Btn
    .btn {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
        border-radius: 50rem;
        -webkit-border-radius: 50rem;
        -moz-border-radius: 50rem;
        -ms-border-radius: 50rem;
        -o-border-radius: 50rem;
    }
    .primary-btn {
        color: $secondary-color;
        background-color: $primary-color;
    }
    .secondary-btn {
        color: $primary-color;
        background-color: $secondary-color;
        border: 5px solid $primary-color;
    }
    // /Btn
    // Icon
    .primary-icon {
        color: $primary-color;
    }
    .secondary-icon {
        color: $secondary-color;
    }
    .third-icon {
        color: $third-color;
    }
    .custom-icon {
        width: 3em;
        height: 3em;
        line-height: 3em;
        background-color: $primary-color;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    // /Icon
    // Carousel
    .swiper {
        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: $primary-color;
                opacity: 0.2;
            }
            .swiper-pagination-bullet-active {
                width: 1.2em;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                box-shadow: 0px 0px 10px 2px rgba(255, 193, 7, 1);
                opacity: 1;
            }
        }
        .swiper-pagination-dark {
            .swiper-pagination-bullet {
                background-color: $secondary-color;
            }
            .swiper-pagination-bullet-active {
                box-shadow: 0px 0px 10px 2px rgba(34, 40, 49, 1);
            }
        }
    }
    // /Carousel
}