footer {
    .landing-border {
        position: relative;
        top: 2px;
    }
    .primary-section {
        padding-top: 5px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        .footer-image {
            img {
                width: 180px;
            }
        }
        .footer-content {
            p {
                margin: 0;
                font-size: 1.6em;
                font-weight: 900;
                color: $secondary-color;
                text-transform: uppercase;
            }
            small {
                font-size: 1em;
                color: $secondary-color;
                text-transform: uppercase;
            }
        }
    }
}