// Landing-Section
#landing {
    height: calc(100vh - 76px);
    position: relative;
    .landing-content {
        z-index: 2;
        .intro {
            P {
                margin: 0;
            }
            .greeting {
                font-family: 'Courier New', Courier, monospace;
                font-size: 1.2em;
                color: $primary-color;
            }
            .name {
                text-shadow: 3px 2px 0px $primary-color;
                -webkit-text-stroke: 1px $secondary-color;
            }
            .title {
                font-size: 1.5em;
            }
        }
    }
    .landing-media {
        position: absolute;
        bottom: 0;
        z-index: 0;
        .landing-image {
            padding-bottom: 1px;
        }
    }
    .landing-border {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}

// /Landing-Section
// About-Section
#about {
    padding: $section-padding;
    .about-img-contianer {
        position: relative;
        .about-img-bg {
            width: 12em;
            height: 17em;
            position: relative;
            background-color: $primary-color;
            border: 5px solid $third-color;
            border-radius: 50px 50px 200px 200px;
            -webkit-border-radius: 50px 50px 200px 200px;
            -moz-border-radius: 50px 50px 200px 200px;
            -ms-border-radius: 50px 50px 200px 200px;
            -o-border-radius: 50px 50px 200px 200px;
            &::before {
                content: "";
                position: absolute;
                left: -20px;
                top: 5px;
                width: 7px;
                height: 40px;
                background-image: linear-gradient(to bottom, #ffc107, #222831);
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }
            &::after {
                content: "";
                position: absolute;
                left: 195px;
                top: 100px;
                width: 7px;
                height: 40px;
                background-image: linear-gradient(to bottom, #ffc107, #222831);
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }
            #about-image {
                position: absolute;
                width: 11.4em;
                bottom: 0;
            }
            .about-effect {
                position: absolute;
                left: -20px;
                top: 170px;
                z-index: 1000;
                width: 7px;
                height: 40px;
                background-image: linear-gradient(to bottom, #ffc107, #222831);
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }
        }
        .about-react {
            position: absolute;
            right: 25px;
            bottom: 50px;
            width: 8em;
            height: 3em;
            background-color: rgba(238, 238, 238, 0.3);
            backdrop-filter: blur(5px);
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }
    .swiper-slide {
        p {
            font-size: 1.2em;
            margin: 0;
        }
        .timeline {
            box-shadow: 0px 0px 5px 2px rgba(255, 193, 7, 1);
        }
        .card {
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }
    }
}

// /About-Section
// Skills-Section
#skills {
    #tech-skills {
        .skills-img-container {
            position: relative;
            .skills-img-bg {
                height: 12em;
                position: relative;
                #skills-image {
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        .swiper-slide {
            .progress-title {
                font-size: 1.2em;
                font-weight: 700;
                color: $secondary-color;
            }
            .progress-outer {
                padding: 5px 60px 5px 5px;
                border: 5px solid $secondary-color;
                border-radius: 45px;
                margin-bottom: 15px;
                position: relative;
            }
            .progress {
                background-color: #F5DC92;
                border-radius: 20px;
                margin: 0;
            }
            .progress .progress-bar {
                width: 0%;
                background-color: $secondary-color;
                border-radius: 20px;
                box-shadow: none;
                animation: animate-positive 2s;
                -webkit-animation: animate-positive 2s;
            }
            .progress .progress-value {
                font-size: 1.4em;
                font-weight: 700;
                color: $secondary-color;
                position: absolute;
                top: 13px;
                right: 10px;
            }
            @keyframes animate-positive {
                0% {
                    width: 0;
                }
            }
        }
    }
    #ui-skills {
        .section-header {
            font-size: 4em;
        }
        .progress-container {
            position: relative;
            bottom: 50px;
            .progress-circle {
                .progress {
                    width: 150px;
                    height: 150px;
                    line-height: 150px;
                    background-color: transparent;
                    padding: 20px;
                    margin: 0 auto;
                    box-shadow: none;
                    position: relative;
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 10px solid $third-color;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    span {
                        width: 50%;
                        height: 100%;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        z-index: 1;
                    }
                    .progress-bar {
                        width: 100%;
                        height: 100%;
                        background: none;
                        border: 10px solid $primary-color;
                        position: absolute;
                        top: 0;
                    }
                    .progress-left {
                        left: 0;
                        .progress-bar {
                            left: 100%;
                            border-top-right-radius: 80px;
                            border-bottom-right-radius: 80px;
                            border-left: 0;
                            transform-origin: center left;
                            -webkit-transform-origin: center left;
                            animation: loading-2 1.5s linear forwards 1.8s;
                            -webkit-animation: loading-2 1.5s linear forwards 1.8s;
                        }
                    }
                    .progress-right {
                        right: 0;
                        .progress-bar {
                            left: -100%;
                            border-top-left-radius: 80px;
                            border-bottom-left-radius: 80px;
                            border-right: 0;
                            transform-origin: center right;
                            -webkit-transform-origin: center right;
                            animation: loading-1 1.8s linear forwards;
                            -webkit-animation: loading-1 1.8s linear forwards;
                        }
                    }
                }
                .progress-value {
                    font-size: 2em;
                    color: $third-color;
                }
                @keyframes loading-1 {
                    0% {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                    100% {
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
                @keyframes loading-2 {
                    0% {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                    100% {
                        -webkit-transform: rotate(144deg);
                        transform: rotate(144deg);
                    }
                }
            }
            .progress-circle:not(:last-child) {
                padding-bottom: 20px;
            }
        }
        #btn-pos {
            position: relative;
            bottom: 30px;
        }
    }
}

// /Skills-Section
// Hire-Me-Section
#hire {
    #hire-me {
        background-size: cover;
        p {
            font-size: 3em;
            color: $secondary-color;
        }
    }
}

// /Hire-Me-Section