// Color-Variables
$primary-color :#222831;
$secondary-color:#ffc107;
$third-color:#eeeeee;
$info-color:#6e6e6e;
// /Color-Variables
// Font-Variables
$font-family: 'Roboto',
sans-serif;
// /Font-Variables