// Section-Padding
$section-padding: 50px 0px;
// /Section-Padding
// Color-Variables
$primary-color:#ffc107;
$secondary-color :#222831;
$third-color:#eeeeee;
$info-color:#6e6e6e;
// /Color-Variables
// Font-Variables
$font-family: 'Roboto',
sans-serif;
$section-font-family: 'Rubik Mono One',
sans-serif;
// /Font-Variables