<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Full-Stack Web Developer, for creating and implementing web apps">
    <meta name="keywords" content="web design, web designing, web develop, web development, web designer, web developer, front end developer, back end developer, php developer, laravel developer, full-stack develope , UI designer">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="100 days">
    <meta name="author" content="Nader Khamis">
    <meta name="title" content="Nader Khamis">
    <title>Nader Khamis</title>
</head>

<body>

    <%= require("./layouts/main.ejs")() %>

</body>

</html>